<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <section class="flex">
    <div>
	    <input class="city-search" type='text' [(ngModel)]='city' (keyup)="searchCity('input')">
    </div>

    <div>
	    <input id="date" type="radio" [value]='weatherType.date' [(ngModel)]="weatherTypeRadio" (change)="searchCity('radio')">
	    <label for="date">По дате</label>

	    <input id="hours" type="radio" [value]='weatherType.hour' [(ngModel)]="weatherTypeRadio" (change)="searchCity('radio')">
	    <label for="hours">По часам</label>
    </div>
  </section>

	<p *ngIf='weatherTypeRadio === weatherType.date'>{{timeZoneDaily}}</p>
	<p *ngIf='weatherTypeRadio === weatherType.hour'>{{timeZoneHourly}}</p>

	<app-table *ngIf='weatherTypeRadio === weatherType.date' [data]='tableDays$ | async'></app-table>
	<app-table *ngIf='weatherTypeRadio === weatherType.hour' [data]='tableHours$ | async'></app-table>
</main>
